.ant-carousel .slick-slide {
    text-align: center;
    line-height: 20px;
    background: #364d79;
    overflow: hidden;
}

.ant-carousel .slick-slide h3 {
    color: #fff;
}

.one {
    height: 600px;
    /*background-image: url("../components/data/DSC_0242.jpg");*/
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.two {
    height: 600px;
    /*background-image: url("../components/data/DSC_02601.jpg");*/
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.three {
    height: 600px;
    /*background-image: url("../components/data/DSC_01361.jpg");*/
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.home-info {
    margin: 300px;
}